#  Egalax Panel udev.rule
#
KERNEL=="event[0-9]*", SUBSYSTEM=="input", \
  ATTRS{name}=="eGalax Inc. eGalaxTouch P80H84 0133*", \
  ATTRS{properties}=="2", \
  SYMLINK+="input/captouch"

