image @IMAGE@ {
    hdimage {
        gpt = true
    }

    partition fsbl1 {
        image = "stm32mp1-tf-a-stm32mp151-cc100.stm32"
    }

    partition fsbl2 {
        image = "stm32mp1-tf-a-stm32mp151-cc100.stm32"
    }

    partition ssbl {
        image = "barebox-stm32mp151-cc100.img" 
    }

    partition boot {
        image = "boot.vfat"
    }

    partition root {
        image = "root.ext2"
    }
}
